.page-container {
  padding: 0 160px;
}

.full-width {
  width: 100%;
}

.display-flex {
  display: flex;
}

.text-align-center {
  text-align: center
}

.evidence-card-wrapper {
  display: flex;
  justify-content: flex-end;
  width: 50%;
  padding-right: 10px;
}

.evidence-card {
  width: 340px;
  padding: 20px 12px 0 12px;
}

.evidence-select {
  width: 350px;
  margin: 0 8px;
}

.ghost-card-wrapper {
  display: flex;
  justify-content: flex-start;
  width: 50%;
  padding-left: 10px;
}

.ghost-card {
  width: 600px;
}

mat-card-subtitle {
  margin-bottom: 4px;
}
